<div class="container">
<h3 mat-dialog-title>Add new User</h3>
<form (ngSubmit)="submit" #formControl="ngForm">
  <div mat-dialog-content class="mat-dialog-content">
    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          placeholder="City"
          [(ngModel)]="data.city"
          name="city"
          required
        />
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          type="number"
          placeholder="Price"
          [(ngModel)]="data.price"
          name="price"
          required
        />
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          placeholder="Status"
          [(ngModel)]="data.status"
          name="status"
          required
        />
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>

      </mat-form-field>
    </div>
    
    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          type="color"
          placeholder="Color"
          [(ngModel)]="data.color"
          name="color"
          required
        />
        {{data.color}}
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>

      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input
      #startdate
        matInput
        readonly
        required
        name="start_date"
        [(ngModel)]="data.start_date"
        [matDatepicker]="picker3"
        placeholder="Start Date"
        (dateChange)="onDateChange();"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker3"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="spacer">
      <mat-label>End Date</mat-label>
      <input
      #enddate
        matInput
        readonly
        required
        name="end_date"
        [(ngModel)]="data.end_date"
        [matDatepicker]="picker4"
        [min]="startDateValidation"
        placeholder="End Date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker4"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button color="primary"
      [type]="submit"
      [disabled]="isDisabled && !formControl.valid"
      [mat-dialog-close]="1"
      (click)="confirmAdd()"
    >
      Save
    </button>
    <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</form>
</div>