<div class="container">
  <h3 mat-dialog-title>Edit User : {{data._id}}</h3>
  <form (ngSubmit)="submit" [formGroup]="userForm">
    <!-- <div class="form">
      <mat-form-field color="accent">
        <input type="hidden" matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="_id" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> -->
    <div mat-dialog-content class="mat-dialog-content">
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <input
            matInput
            placeholder="City"
            formControlName="city"
            name="city"
            required
          />
          <mat-error *ngIf="userForm.controls['city'].errors">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          type="number"
          placeholder="Price"
          formControlName="price"
          name="price"
          required
        />
        <mat-error *ngIf="userForm.controls['price'].errors">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          placeholder="Status"
          formControlName="status"
          name="status"
          required
        />
        <mat-error *ngIf="userForm.controls['status'].errors">{{getErrorMessage()}}</mat-error>

      </mat-form-field>
    </div>
    
    <div class="form">
      <mat-form-field color="accent">
        <input
          matInput
          type="color"
          placeholder="Color"
          formControlName="color"
          name="color"
          required
        />
        {{data.color}}
        <mat-error *ngIf="userForm.controls['color'].errors">{{getErrorMessage()}}</mat-error>

      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input
        #startdate
        matInput
        readonly
        name="start_date"
        formControlName="start_date"
        [matDatepicker]="picker3"
        placeholder="Start Date"
        (dateChange)="onDateChange();"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker3"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="spacer">
      <mat-label>End Date</mat-label>
      <input
        #enddate
        matInput
        readonly
        name="end_date"
        formControlName="end_date"
        [matDatepicker]="picker4"
        [min]="startDateValidation"
        placeholder="End Date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker4"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"
        [type]="submit" 
        [disabled]="userForm.invalid"
        [mat-dialog-close]="1" (click)="updateEdit()">Save</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
  </div>