.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

mat-form-field {
  width: 100%;
}

.no-results{
    text-align: center;
    padding: 15px;
}
.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}