<router-outlet></router-outlet>

<mat-toolbar color="primary">
  <span>USERS - Crud Operation</span>
</mat-toolbar>

<div class="col-12 mat-elevation-z8">
  <div class="">
    <div class="form col-12">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filter users" />
      </mat-form-field>
    </div>
    <div class="form">
        <mat-form-field class="col-2">
          <mat-label>Start Date</mat-label>
          <input
            #startdate
            matInput
            readonly
            required
            (dateChange)="onDateChange();checkDisable();"
            [matDatepicker]="picker1"
            placeholder="Start Date"
            [formControl]="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label>End Date</mat-label>
          <input
            #enddate
            matInput
            readonly
            required
            (dateChange)="checkDisable();"
            [matDatepicker]="picker2"
            placeholder="End Date"
            [min]="startDateValidation"
            [formControl]="endDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <button [disabled]="isDisabled" (click)="dateFilter()" mat-flat-button color="primary">
          Filter
        </button>
&nbsp;
        <button [disabled]="isDisabled" (click)="resetFilter()" mat-flat-button color="primary">
          Reset
        </button>
    </div>
  </div>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <!-- ID Column -->
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row._id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.city }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.price }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Status</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.status }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Color</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.color }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="start_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >start date</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.start_date | date }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="end_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >end date</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.end_date | date }}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon"
            >add</mat-icon
          >
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i = index">
        <button
          mat-icon-button
          color="accent"
          (click)="startEdit(row)"
        >
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="accent"
          (click)="deleteItem(row)"
        >
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div
    class="no-results"
    [style.display]="( dataSource.userCount| async) == 0 ? '' : 'none'"
  >
    No user found
  </div>

  <mat-paginator
    #paginator
    [length]="dataSource.userTotalCount | async"
    [pageIndex]="1"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 100]"
  >
  </mat-paginator>
</div>
