<div class="col-md-12">
  <h2 mat-dialog-title>Are you sure?</h2>
  <div mat-dialog-content>
    Id: {{data._id}}
    <p></p>
    City: {{data.city}}
    <p></p>
    Price: {{data.price}}
    <p></p>
    Status: {{data.status}}
    <p></p>
    Color: {{data.color}}
    <p></p>
    Start Date: {{data.start_date|date}}
    <p></p>
    End Date: {{data.end_date|date}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="warn"
      [mat-dialog-close]="1"
      (click)="confirmDelete()"
    >
      Delete
    </button>
    <button mat-raised-button (click)="onNoClick()" tabindex="-1">
      Cancel
    </button>
  </div>
</div>
